.table-cards, .table-squares-tokens, .table-players{
    display:inline-block;
}

.table-card{
    width:80px;
    height:100px;
    display:inline-block;
    margin:10px;
    padding:2px;
    border:1px solid black;
    border-radius: 10px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.player-colors{
    display:inline-block;
}

.player-card{
    width:80px;
    height:30px;
    display:block;
    padding:2px;
    border:1px solid black;
    border-radius: 10px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.player-yellow-card{
    width:80px;
    height:100px;
    display:block;
    padding:2px;
    border:1px solid black;
    border-radius: 10px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    background:#D5D5D5;
}

.table-square{
    width:80px;
    height:80px;
    text-align:center;
    display:inline-block;
    margin:10px;
    padding:2px;
    border-radius: 10px;
    border:1px solid grey;
    background:#4A60B7;
}

.token{
    width:40px;
    height:40px;
    display:inline-block;
    border-radius: 20px;
    text-align:center;
    line-height: 40px;
    border:1px solid grey;
}

.card-top{
    padding:5px 5px 5px 5px;
}

.card-bottom{
    border-top: 1px solid black;
    padding:5px 5px 5px 5px;
}

.tiny-token{
    width:20px;
    height:20px;
    margin:2px;
    float:left;
    border-radius: 10px;
    border:1px solid grey;
    text-align:center;
}

.tiny-gem{
    width:20px;
    height:20px;
    margin-right:2px;
    display:inline-block;
    border-radius: 5px;
    border:1px solid grey;
    float:right;
}

.card-blue{
    background-color:blue;
    color:white;
}

.card-black{
    background-color:black;
    color:white;
}

.card-white{
    background-color:white;
    color:black;
}

.card-red{
    background-color:red;
    color:white;
}

.card-green{
    background-color:green;
    color:white;
}

.card-yellow{
    background-color:yellow;
    color:white;
}
