.table-card{
    width:80px;
    height:100px;
    display:inline-block;
    margin:2px;
    padding:2px;
    border-radius: 4px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-align:left;
}

.table-card-ready-to-buy{
    background:grey !important;
}

.table-card-ready-to-reserve{
    background: yellow;
    opacity:0.4;
}

.buyable-card{
    -webkit-box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.75);
}

.buyable-card:hover{
    box-shadow: 2px 2px 2px orange;
}

.buyable-card:active{
    box-shadow: 0px 0px 0px orange;
}

.player-colors{
    display:inline-block;
}

.player-card{
    width:80px;
    height:30px;
    display:block;
    padding:2px;
    border-radius: 10px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.75);
}


.player-yellow-card{
    width:80px;
    height:100px;
    display:inline-block;
    padding:2px;
    border-radius: 10px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    background:#D5D5D5;
    -webkit-box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.75);

}

.table-square{
    width:80px;
    height:80px;
    text-align:center;
    display:inline-block;
    margin:2px;
    padding:2px;
    border-radius: 10px;
    border:1px solid grey;
    background:#4A60B7;
    -webkit-box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.75);
}

.token{
    width:40px;
    height:40px;
    display:inline-block;
    border-radius: 20px;
    position:relative;
    font-weight:bold;
    line-height: 40px;
    text-align:center;
    -webkit-box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.75);
}

.token:hover{
    box-shadow: 2px 2px 2px orange;
}

.token:active{
    box-shadow: 0px 0px 0px grey;
}

.n_picked{
    position:absolute;
    width:20px;
    height:20px;
    display:block;
    line-height:20px;
    bottom:-10px;
    left:0px;
    color:black;
    font-weight:bold;
    font-size:16px;
    border-radius: 10px;
    background: grey;
    color: white;
}

.card-top{
    padding:5px 5px 5px 5px;
}

.card-bottom{
    border-top: 1px solid black;
    padding:5px 5px 5px 5px;
}

.tiny-token{
    width:20px;
    height:20px;
    margin:2px;
    float:left;
    border-radius: 10px;
    border:1px solid grey;
    text-align:center;
}

.tiny-card{
    width:20px;
    height:30px;
    margin:2px;
    float:left;
    border-radius: 3px;
    -webkit-box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.75);
    text-align:center;
}

.tiny-gem{
    width:20px;
    height:20px;
    margin-right:2px;
    display:inline-block;
    border-radius: 5px;
    border:1px solid grey;
    float:right;
}

.card-blue, .card-blue a{
    background-color:blue;
    color:white;
}

.card-black, .card-black a{
    background-color:black;
    color:white;
}

.card-white, .card-white a{
    background-color:white;
    color:black;
}

.card-red, .card-red a{
    background-color:red;
    color:white;
}

.card-green, .card-green a{
    background-color:green;
    color:white;
}

.card-yellow, .card-yellow a{
    background-color:yellow;
    color:black;
}

.token a{
    text-decoration:none;
}

#game-alert{
    display:none;
}


#reset-tokens-picked{
  margin-left: 15px;
}

.td-black{
    background: black;
    color: white;
}

.td-blue{
    background: blue;
    color: black;
}

.td-green{
    background: green;
    color: black;
}

.td-yellow{
    background: yellow;
    color: black;
}

.td-red{
    background: red;
    color: black;
}

.td-white{
    background: white;
    color: black;
}

body{ font-family: 'Josefin Slab', cursive; }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Slab';
}
p, div {
    font-family: 'Josefin Slab';
}
