<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>{{ title }} - Splendor</title>
    {% else %}
    <title>Splendor</title>
    {% endif %}
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/game.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // assuming io is the Socket.IO server object
    socket.configure(function () { 
      io.set("transports", ["xhr-polling"]); 
      io.set("polling duration", 10); 
    });


    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
        console.log('connected to socket');
    });
</script>

</head>
<body>

<div>XX:
    <a href="{{ url_for('index') }}">Home</a>
    {% if g.user.is_authenticated() %}
        <a href="{{ url_for('logout') }}">Logout</a>
        <h2>Logged in as {{ g.user.email }}</h2>
    {% endif %}
</div>


<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>