<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>{{ title }} - Splendor</title>
    {% else %}
    <title>Splendor</title>
    {% endif %}
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>

<div>XX:
    <a href="{{ url_for('index') }}">Home</a>
    {% if g.user.is_authenticated() %}
        <a href="{{ url_for('logout') }}">Logout</a>
        <h2>Logged in as {{ g.user.email }}</h2>
    {% endif %}
</div>


<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}

<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/game.js"></script>


</body>



</html>