<html>

<head>
    <link href="style.css" rel="stylesheet" />
</head>

<body>

<div class="card card-blue">
    Value 10<br />
    <!-- Cards needed -->
    <div class="tiny-card card-white"></div>
    <div class="tiny-card card-white"></div>
    <div class="tiny-card card-white"></div>

</div>

<div class="card card-blue">
    Value 10<br />
    <!-- Cards needed -->
    <div class="tiny-card card-white"></div>
    <div class="tiny-card card-white"></div>
    <div class="tiny-card card-white"></div>

</div>

<div class="card card-blue">
    3
</div>

</body>

</html>