{% extends "base.html" %}
{% block content %}


<div class="table-cards">
    <h1>Cards on the table</h1>

    {% for rank in [1, 2, 3]%}
        {% for card in game.get_table_cards_by_rank(rank) %}
            <div class="table-card">
                <div class="card-top">
                    <span class="card-value">{{ card.value }}</span>
                    <span class="card-color tiny-gem card-{{ card.color }}"></span>
                </div>
                <div class="card-bottom">
                    <!-- Cards needed -->
                    {%for color in ['blue', 'red', 'green', 'white', 'black']%}
                        {% if card.get_info(color) != 0 %}
                            <div class="tiny-token card-{{ color }}">{{ card.get_info(color) }}</div>
                        {% endif %}
                    {%endfor%}
                </div>
            </div>
        {% endfor %}
        <hr />
    {% endfor %}
</div>

<div class="table-squares-tokens">
<h1>Available squares</h1>
{% for square in game.get_table_squares() %}
    <div class="table-square">
        {%for color in ['blue', 'red', 'green', 'white', 'black']%}
            {% if square.get_info(color) != 0 %}
                <div class="tiny-card card-{{ color }}">{{ square.get_info(color) }}</div>
            {% endif %}
        {%endfor%}
    </div>
{% endfor %}

    <h1>Available Tokens</h1>
    {%for color in ['blue', 'red', 'green', 'white', 'black', 'yellow']%}
        {% if game.get_table_tokens().get_info(color) != 0 %}
            <div class="token card-{{ color }}">
                {% if color != 'yellow' %}
                    <div class="n_picked" id="table-token-{{ color }}">0
                    </div>
                {% endif %}
                <span class="token-value">
                    {% if color != 'yellow' %}
                        <a href="javascript:pick_token('{{color}}')" id="table-token-{{color}}-n-on-table">{{ game.get_table_tokens().get_info(color) }}</a>
                    {% else %}
                        {{ game.get_table_tokens().get_info(color) }}
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {%endfor%}
</div>

<div class="table-players">
    <h1>Players</h1>
    {% for gameplayer in game.get_players() %}
        <h2>{{ gameplayer.player.name }}, {{ gameplayer.get_points() }} points</h2>
        <div class="player-cards">
            {%for color in ['blue', 'red', 'green', 'white', 'black']%}
            <div class="player-colors">
                {% if gameplayer.get_tokens().get_info(color) != 0 %}
                <div class="token card-{{ color }}">{{ gameplayer.get_tokens().get_info(color) }}</div>
                {% endif %}

                {% for card in gameplayer.get_cards_by_color(color) %}
                <div class="player-card">
                    <div class="card-top">
                        <span class="card-value">{{ card.value }}</span>
                        <span class="card-color tiny-gem card-{{ card.color }}"></span>
                    </div>
                </div>
                {% endfor %}
                <span id="player-{{color}}-total">
                    {{ gameplayer.get_items_per_color(color)}} {{ color }}
                </span>
            </div>
            {% endfor %}

            <div class="player-colors">
                {% if gameplayer.get_tokens().get_info('yellow') != 0 %}
                <div class="token card-yellow">{{ gameplayer.get_tokens().get_info('yellow') }}</div>
                {% endif %}

                {% for card in gameplayer.get_cards_not_bought() %}
                <div class="player-yellow-card">
                    <div class="card-top">
                        <span class="card-value">{{ card.value }}</span>
                        <span class="card-color tiny-gem card-{{ card.color }}"></span>
                    </div>
                    <div class="card-bottom">
                        <!-- Cards needed -->
                        {%for color in ['blue', 'red', 'green', 'white', 'black']%}
                        {% if card.get_info(color) != 0 %}
                        <div class="tiny-token card-{{ color }}">{{ card.get_info(color) }}</div>
                        {% endif %}
                        {%endfor%}
                    </div>

                </div>
                {% endfor %}
            </div>

            {% for square in gameplayer.get_squares() %}
                <div class="table-square">
                    {%for color in ['blue', 'red', 'green', 'white', 'black']%}
                    {% if square.get_info(color) != 0 %}
                    <div class="tiny-card card-{{ color }}">{{ square.get_info(color) }}</div>
                    {% endif %}
                    {%endfor%}
                </div>
            {% endfor %}
        </div>

    <hr />
    {% endfor %}
</div>

<h1>Actions</h1>
{% if gameplayer.ismyturntoplay %}
It's my turn to play!

<h2>Pick tokens from the table</h2>
<a href="javascript:reset_tokens_picked()">Reset tokens already picked</a>


{% else %}
Not yet my turn to play...
{% endif %}


{% endblock %}
