{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <h1>Start new game <button disabled id='btn-start-game' type="button" class="btn btn-success start-game-add-player">Start!</button></h1>

    <div class="row">
        {% for player in available_players %}
        <button type="button" class="btn btn-default start-game-add-player" >
            {{player.name}} - <span class="email">{{player.email}}</span>
        </button>
        {% endfor %}

    </div>


</div>

{% endblock %}
