.card{
    width:100px;
    height:120px;
    text-align:center;
    display:inline-block;
    margin:10px;
    padding:2px;
}

.card-blue{
    background-color:blue;
    color:white;
}

.tiny-card{
    width:10px;
    height:10px;
    margin-right:2px;
    display:inline-block;

}

.card-blue{
    background-color:blue;
    color:white;
}

.card-black{
    background-color:black;
    color:white;
}

.card-white{
    background-color:white;
    color:black;
}

.card-red{
    background-color:red;
    color:white;
}

.card-green{
    background-color:green;
    color:white;
}

.card-yellow{
    background-color:yellow;
    color:white;
}